
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLIENT_URL=http://localhost:3000
FRONTEND_URL=http://127.0.0.1:3000
PORT=4000
EMAIL_TOKEN_SECRET=
NODE_ENV=production
# EMAIL_HOST=smtp.gmail.com
EMAIL_USER=
EMAIL_PORT=587
EMAIL_PASS=
SEND_TO=
RESET_PASSWORD_TOKEN_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=

RECAPTCHA_SITE_KEY_FRONTEND=

RECAPTCHA_V3_SECRET_KEY=
RECAPTCHA_V3_SITE_KEY=

RECAPTCHA_V2_SECRET_KEY=
RECAPTCHA_V2_SITE_KEY=

FRONTEND_URL_HAPPY_LAWNS=
FRONTEND_HAPPY_LAWNS=
SESSION_SECRET=
