SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLIENT_URL=http://localhost:3000
FRONTEND_URL=http://127.0.0.1:3000
FRONTEND_URL_HAPPY_LAWNS=
FRONTEND_URL_HAPPY_PROPERTY=
SUPABASE_PROJECT_ID=

PORT=4000
EMAIL_TOKEN_SECRET=
NODE_ENV=development

EMAIL_USER=

EMAIL_PORT=587
REPLY_TO=
SEND_TO=

EMAIL_PASS="" 

RESET_PASSWORD_TOKEN_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=

RECAPTCHA_SITE_KEY_FRONTEND=

RECAPTCHA_V3_SECRET_KEY=
RECAPTCHA_V3_SITE_KEY=

RECAPTCHA_V2_SECRET_KEY=-
RECAPTCHA_V2_SITE_KEY=

FRONTEND_HAPPY_LAWNS=
JWT_SECRET=
RESEND_API_KEY=r

NZBN=
GST=
CONTACT_NUM=
CONTACT_EMAIL=
CONTACT_ADDRESS="123 Happy Street, Lower Hutt, 5011, NZ"
EMAIL_PORT=587

QUOTES_EMAIL=
REPLY_TO_QUOTES=
SEND_TO_QUOTES=

ADMIN_EMAIL=
REPLY_TO_ADMIN=
SEND_TO_ADMIN=

INFO_EMAIL=
REPLY_TO_INFO=
SEND_TO_INFO=

INQUIRY_EMAIL=
REPLY_TO_INQUIRY=
SEND_TO_INQUIRY=

JOBS_EMAIL=
REPLY_TO_JOBS=
SEND_TO_JOBS=

UPDATES_EMAIL=
REPLY_TO_UPDATES=
SEND_TO_UPDATES=

ACCOUNTS_EMAIL=
REPLY_TO_ACCOUNTS=
SEND_TO_ACCOUNTS=

SUPPORT_EMAIL=
REPLY_TO_SUPPORT=
SEND_TO_SUPPORT=

NOTIFICAITONS_EMAIL=
REPLY_TO_NOTIFICATIONS=
SEND_TO_NOTIFICATIONS=

BILLING_EMAIL=
REPLY_TO_BILLING=
SEND_TO_BILLING=